a{
  text-decoration: none;
}
table, th, td {
  border: 1px solid;
}
.auth-component {
  height: 100vh;
  width: 100vw;
  background-color: antiquewhite;
  background-image: url(./assets/backgroud.png);
  background-size: 120px;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  height: 30px;
  width: 250px;
  border-radius: 6px;
  border-style: double;
  margin-top: 6px;
}

.btn-submit {
  height: 30px;
  width: 120px;
  color: black;
  background-color: aqua;
  outline-style: none;
  border: none;
  border-radius: 5px;
  margin-top: 12px;
}
.btn-submit:hover {
  color: white;
}

/*----------------------------------------------Login form--------------------------------*/
.LoginForm {
  height: 60%;
  max-height: 750px;
  min-height: 500px;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

/*----------------------------------------Register form ------------------------------------------------*/
.RegisterForm {
  height: 60%;
  max-height: 750px;
  min-height: 500px;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

/*---------------------------------------------------- Navbar menu -----------------------------*/
.nav { 
  position: fixed;
  z-index: 2000;
  background-color: white;
  width: 100vw;
  height: 72px;
  outline: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.find-icon {
  height: 24px;
  justify-content: right;
}
.btn-find {
  height: 38px;
  width: 20%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 12px 12px 0px;
}
.btn-find:hover {
  background-color: aliceblue;
}
.find-form {
  height: 38px;
  width: 100%;
  max-width: 400px;
  display: flex;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  border-radius: 12px;
}
.input-find {
  margin: 0px 0px 0px 6px;
  height: 100%;
  width: 80%;
  padding: 0px;
  border: none;
  border-radius: 12px;
  outline: none;
}
.cart-icon {
  height: 60px;
  margin: 6px 6px 0px 12px;
}
.avatar {
  height: 60px;
  margin: 6px 6px 0px 0px;
  border-radius: 30px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.auth-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 24px;
}

.auth-link{
  font-style: italic;
}
.auth-link:hover{
  transform: scale(1.05);
}
.username:hover{
  transform: scale(1.05);
}
.button-logout{
  margin-top: 6px;
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
  background-color: white;
  margin-left: -5px;
  border: none;
}
.button-logout:hover{
  transform: scale(1.05);
}
.logo-png {
  flex-grow: 1;
  height: 42px;
  margin: 0px 0px 0px 6px;
}
.logo-png:hover {
  border-bottom: 3px solid dimgray;
  padding: 16px 0px 15px 0px;
  margin-top: 2px;
}
.logo {
  flex-grow: 1;
}

/*------------------------------------------------cart---------------------------------------*/
.cart {
  flex-grow: 1;
  position: relative;
}
.cart:hover{
  transform: scale(0.95);
}
.cart-itemImage-layout{
  width: 100px;
  height: 100px;
}
.cart-itemImage{
  border-radius: 6px;
  width: 100px;
  height: 100px;
  object-fit:cover;
}
.cart:hover > .cart-dropdown{
  transition: ease-in;
  border-radius: 6px;
  right: -5.4em;
  top: 71.4px;
  background-color: white;
  display: flex ;
  flex-direction: column;
  width: 80vw;
  max-width: 400px;
  min-width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.cart-dropdown{
  z-index: 2000;
  position: absolute;
  display: none;
}
.cart-item:hover{
  border-radius: 6px;
  transform: scale(1.01);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cart-item{
  margin-top: 6px;
  z-index: 23;
  display: flex;
  align-items: center;
  width: 90%;
  height: 112px;
  position: relative;
}
.li-cart-item{
  z-index: 23;
  margin: 3px 0px 0px 3px;
}
.totalPrice{
  height: 72px;
  width: 90%;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  margin: 10px;
}
.totalPrice-price{
  font-size: 14px;
  font-style: italic;
  position: absolute;
  right: 32px;
}
.button-to-order{
  color: rgb(251, 255, 240);
  margin: 3px 0px 6px 0px;
  padding: 6px 0px 6px 0px;
  width: 100px;
  border-radius: 6px;
  background-color: rgb(255, 185, 6);
  outline: none;
  border: none;

}
.button-to-order:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: 2px solid white;
  transform: scale(1.05);
}


.find {
  flex-grow: 8;
}
.account {
  flex-grow: 1;
}
.div-dog{
  background-image: url(./assets/backgroud.png);
  background-size: 120px;
  background-repeat: repeat; 
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 90px;
}
.img-dog{
  width: 100%;
  max-width: 800px;
}
.img-dog:hover{
  z-index: 1;
  transform: scale(1.05);
}


/*-------------------------------------CONTAINER-------------------------------------------------------*/
.container {
  height: 100vh - 72px;
  width: 100vw - 17px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.container-items {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.item {
  display: flex;
  width: 200px;
  height: 270px;
  flex-direction: column;
  align-items: center;
  margin: 12px 0px 0px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  position:relative;
  z-index: 1;
}
.item:hover{
  transform: scale(1.05);
}
.item-link{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-self: flex-end;
}
.item-link:visited{
  color: blue;
}
.item-image{
  margin: 12px 0px 6px 0px;
  width: 150px;
  height: 150px;
}
.it-image{
  border-radius: 6px;
  width: 150px;
  height: 150px;
  object-fit:cover;
}

.item-name{
  font-size: 14px;
}
.item-quantily{
  margin-top: 3px;
  font-size: 12px;
  font-weight: 200;
  font-style: italic;
  bottom: 6px;
  right: 6px;
}
.addCart{
  margin-top: 3px;
  padding: 6px 24px 6px 24px;
  border-radius: 6px;
  background-color: rgb(0, 217, 255);
  outline: none;
  border: none;
}
.addCart[disabled]{
  background-color: gray;
  color:white;
}
.addCart:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: 2px solid white;
  transform: scale(1.05);
}
.addCart[disabled]:hover{
  box-shadow: none;
  background-color: gray;
  color:white;
  outline: none;
  transform: scale(1);
}

.container-menu {
  display: flex;
  align-items: center;
  height: 40px;
  gap:6px;
}
.header-menu {
  margin-left: 12px;
  font-style: italic;
  font-weight: 200;
  font-size: 16px;
}
.select-container-menu{
  color: white;
  padding: 6px 0px 6px 0px;
  background-color: rgba(10, 68, 118, 1);
  border-radius: 6px;
  outline: none;

}

/*--------------------------ORDER------------------------------------------------------------*/
.cart-order{
  position: relative;
  border-radius: 6px;
  background-color: white;
  display: flex ;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  min-width: 310px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
.order-layout{
  position: relative;
  min-width: 280px;
  margin: 12px 6px 12px 6px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.order-layout > span{
  margin: 6px 12px 12px 6px;
}
.link-view{
  color: blue;
  position: absolute;
  top:6px;
  right: 6px;
  margin-top: 3px;
  height: 32px;
  width: 48px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  outline: 2px solid blue;
  border: none;
}
.link-view:hover{
  transform: scale(1.04);
}
.button-del{
  color: rgb(255, 0, 0);
  position: absolute;
  top: 42px;
  right: 6px;
  margin-top: 3px;
  height: 32px;
  width: 48px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  outline: 2px solid rgb(255, 0, 0);
  border: none;
}
.button-del:hover{
  transform: scale(1.04);
}

/*-----------------------------------USER INFORMATION--------------------*/

/*information*/
.form-infor > div > p{
  margin-bottom: -3px;
  left: 0px;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
}
.form-infor{
  width: 50vw;
  max-width: 500px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 232, 232);
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.update-button{ 
  margin-top: 3px;
  padding: 10px 24px 10px 24px;
  border-radius: 6px;
  background-color: rgb(0, 255, 238);
  outline: none;
  border: none;
  width: 250px;
  font-size: 16px;
}
.update-button:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: 2px solid white;
  transform: scale(1.01);
}

/*=======================DASHBOARD====================================================*/


/*-----------------USER MANAGER-------------------*/
.edit{
  margin: 3px 3px 3px 3px;
  color: blue;
  width: 64px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  outline:1px solid blue;
  border: none;
}
.edit:hover {
  transform: scale(1.02);
}
.delete{
  margin: 3px 3px 3px 3px;
  color: red;
  width: 64px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  outline:1px solid red;
  border: none;
}
.delete:hover {
  transform: scale(1.02);
}
.out-form{
  display: inline-block;
  text-align: center;
  font-size: 24px;
  transition: transform 2s;
  width: 32px;
  height: 39px;
}
.out-form:hover{
  color: red;
  transform: rotate(180deg);
}

/*-------------------------CART MANAGR------------------------------*/

.select-type{
  height: 38px;
  width: 260px;
  border-radius: 6px;
  border-style: double;
  margin-top: 6px;    
}


/*NAV REPONSIVE*/

@media screen and (max-width: 600px) {
  .auth-link{
    font-size: 12px;
  }
  .cart {
    flex-grow: 1;
    position: relative;
  }
  .nav { 
    position: fixed;
    z-index: 2000;
    background-color: white;
    width: 100vw;
    height: 72px;
    outline: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .find-icon {
    height: 18px;
    justify-content: right;
  }
  .btn-find {
    height: 38px;
    width: 20%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 12px 12px 0px;
  }
  .btn-find:hover {
    background-color: aliceblue;
  }
  .find-form {
    height: 38px;
    width: 100%;
    max-width: 400px;
    display: flex;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 12px;
  }
  .input-find {
    font-size: 12px;
    margin: 0px 0px 0px 6px;
    height: 100%;
    width: 80%;
    padding: 0px;
    border: none;
    border-radius: 12px;
    outline: none;
  }
  .cart-icon {
    height: 32px;
    margin: 6px 6px 0px 6px;
  }
  .avatar {
    height: 48px;
    margin: 6px 6px 0px 0px;
    border-radius: 30px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .auth-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 6px;
  }
  
  .auth-link{
    font-style: italic;
  }
  .auth-link:hover{
    transform: scale(1.05);
  }
  .username{
    font-size: 14px;
  }
  .username:hover{
    transform: scale(1.05);
  }
  .button-logout{
    margin-top: 6px;
    font-style: italic;
    font-weight: 100;
    font-size: 10px;
    background-color: white;
    margin-left: -5px;
    border: none;
  }
  .button-logout:hover{
    transform: scale(1.05);
  }
  .logo-png {
    flex-grow: 1;
    height: 32px;
    margin: 0px 3px 0px 3px;
  }
  .logo-png:hover {
    border-bottom: 3px solid dimgray;
    padding: 16px 0px 15px 0px;
    margin-top: 2px;
  }
  .logo {
    flex-grow: 1;
  }
  .cart:hover > .cart-dropdown{
    right: -8em;
  }
  
}
